body {
    background-image: url('./recycling_img.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
  }

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  input {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 20rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  h1 {
    margin-top: 2rem;
    text-align: center;
  }
  
