.profile {
    /* background: gray; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    
  }

  .profile-title {
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

.stats-btn {
    align-items: center;
    justify-content: center;
    margin-bottom: 400px;

}

.account {
    font-size:1.1rem;
}

.name {
    font-size:1.1rem;
}

.email {
    font-size:1.1rem;
}
    