
.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-header {
    margin-top: 100px;
    font-size: 0.8rem;
    
}

.body {
    margin-top: 50px;
    margin-right: 180px;
    margin-left: 180px;
    font-size: 0.6rem;
    
}